/* 
    コンポーネント
 */

/* ----- reset ----- */
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}

/* ----- base ----- */
:root {
    --white: #ffffff;
    --gray: #dddddd;
    --base-bg: #2B3384;
    --base-tx: #555555;
    --light-blue: #3ea8ff;
    --green: #228B22;
    --vivid-green: #00CC00;
    --light-green: #E6FFE9;
    --red: #dc143c;
    --pink: #FF3366;
    --light-pink: #FFD5EC;
}
html {
    color: var(--base-tx);
    font-size: 18px;
}
body {
    background: #f4f6f9;
}
main {
    width: 90%;
    margin: 3rem auto;
}
h1 {
    text-align: center;
    font-size: 1.8rem;
}
h2 {
    font-size: 1.2rem;
}
.header-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
table {
    width: 100% !important;
}
button {
    background: var(--white);
    padding: 0.6rem 0.6rem;
    border-radius: 10px;
    cursor: pointer;
}
button:hover {
    transform: scale(1.05);
    transition: all 300ms 0s ease;
}
button i {
    margin-right: 0.6rem;
}
.btn-wrap button:not(:last-child) {
    margin-right: 1rem;
}
.card {
    background: var(--white);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    border-radius: 10px;
    border: 1px solid var(--gray);
}
.dash-activity-wrap li div:first-child,
.activity-table-detail-wrap div:first-child {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 0 1rem 0 0;
    border-radius: 50%;
}
.dash-activity-wrap li div:first-child i,
.activity-table-detail-wrap div:first-child i {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
}
.activity-learning {
    border: 1px solid var(--light-blue);
    color: var(--light-blue);
}
.activity-english_list {
    border: 1px solid var(--pink);
    color: var(--pink);
}
.activity-bookmark {
    border: 1px solid var(--green);
    color: var(--green);
}
i.admin-btn-show {
    margin: 0;
    font-size: 1.8rem;
    color: var(--base-tx);
}
i.admin-btn-show:hover {
    transform: scale(1.05);
    transition: all 300ms 0s ease;
    color: var(--light-blue);
    cursor: pointer;
}
.admin-btn-wrap button {
    margin: 0.2rem 0;
}
.component-wrap {
    width: 70%;
    margin: 2rem auto;
    padding: 2rem;
}

/* ----- util ----- */
/* display */
.d-none {
    display: none !important;
}

/* button */
button.primary {
    border: 1px solid var(--light-blue);
    border-bottom: 2px solid var(--light-blue);
    color: var(--light-blue);
}
button.primary:hover {
    background: var(--light-blue);
    color: var(--white);
}
button.secondary {
    border: 1px solid var(--gray);
    border-bottom: 2px solid var(--gray);
    color: var(--base-tx);
}
button.secondary:hover {
    background: var(--base-tx);
    color: var(--white);
}
button.danger {
    border: 1px solid var(--red);
    border-bottom: 2px solid var(--red);
    color: var(--red);
}
button.danger:hover {
    background: var(--red);
    color: var(--white);
}

/* text-align */
.tx-center {
    text-align: center;
}
.tx-right {
    text-align: right;
}

/* width */
.w-30 {
    width: 30%;
}
.w-70 {
    width: 70%;
}

/* height */
.h-100 {
    height: 100%;
}

/* margin */
.mr-05 {
    margin-right: 0.5rem;
}
.ml-05 {
    margin-left: 0.5rem;
}
.mt-1 {
    margin-top: 1rem;
}

/* cursor */
.cursor-pointer {
    cursor: pointer;
}

/* pointer-events */
.event-none {
    pointer-events: none;
}

/* error */
.error-msg {
    color: var(--red);
    font-size: 1rem;
}

/* ----- header footer ----- */
header,
footer {
    background: var(--base-bg);
    padding: 0.6rem 4rem;
    color: var(--white);
}

/* menu */
.menu-wrap {
    display: flex;
    justify-content: space-between;
}
.menu-wrap .menu {
    padding: 8px 9px 8px 9px;
    box-sizing: content-box;
    cursor: pointer;
}
.menu-wrap .menu:not(:last-child) {
    margin-right: 1rem;
}
.menu-wrap .menu:hover {
    padding: 7px 8px 7px 8px;
    border: 1px solid var(--white);
}

/* ----- dashboard ----- */
.dash-first-wrap,
.dash-second-wrap,
.dash-second-left-top-wrap {
    display: flex;
    justify-content: space-between;
}
.dash-second-wrap {
    flex-wrap: wrap;
    margin: 2rem 0;
}
.dash-second-left-wrap,
.dash-second-right-wrap,
.dash-second-section {
    width: 49%;
}

/* heading */
.head-wrap {
    margin-left: 1rem;
    padding: 0.8rem 0.6rem;
    border-bottom: 1px solid var(--gray);
}
.head-wrap i {
    font-size: 1.6rem;
}

/* total */
.word-total-wrap,
.bookmark-total-wrap {
    padding: 1rem 2rem;
    text-align: center;
    font-size: 2rem;
}
.bookmark-total-wrap {
    text-align: right;
}

/* learningRate */
.learning-rate-wrap {
    display: flex;
    align-items: center;
    padding: 1rem 2rem 1rem;
}
.learning-rate-shape {
    display: flex;
}
.learning-rate-shape span {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 0.6rem;
    border-radius: 50%;
}
.learning-rate-num {
    text-align: center;
    font-size: 2rem;
}
.small-unit-text {
    margin-left: 0.5rem;
    font-size: 1rem;
}

/* activity */
.dash-activity-wrap {
    margin-top: 1rem;
    padding: 0 2rem;
}
.dash-activity-wrap li {
    border-bottom: 1px solid var(--gray);
}
.dash-activity-wrap li:last-child {
    border: none;
}
.dash-activity-list {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
}

/* learningLog */
.learning-log-wrap {
    padding: 1rem;
}

/* ----- learning ----- */
.learning-wrap {
    text-align: center;
}
.learning-btn-wrap {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}
/* english */
.learning-wrap .english {
    padding-bottom: 0.6rem;
    border-bottom: 2px solid var(--light-blue);
    font-size: 1.8rem;
    font-weight: bold;
}

/* answers */
.learning-answers-wrap li {
    position: relative;
    margin: 2.4rem 8rem;
    padding: 0.6rem;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
    border: 1px solid var(--gray);
    border-radius: 80px;
    font-size: 1.4rem;
    cursor: pointer;
}
.learning-answers-wrap li:hover {
    transform: scale(1.05);
    transition: all 300ms 0s ease;
    background: var(--light-blue);
    color: var(--white);
}
.learning-answers-wrap li.is-correct {
    background: var(--light-green);
    border: 1px solid var(--vivid-green);
}
.learning-answers-wrap li.is-incorrect {
    background: var(--light-pink);
    border: 1px solid var(--red);
}
.learning-answers-wrap li i {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    font-size: 2rem;
}
.learning-answers-wrap .fa-circle {
    color: var(--vivid-green);  
}
.learning-answers-wrap .fa-times {
    color: var(--red);  
}

/* button */
.next-btn {
    display: flex;
    align-items: center;
}
.next-btn span {
    margin-right: 0.6rem;
}
.next-btn i {
    order: 2;
    margin: 0;
}

/* ----- activity ----- */
.activity-table-detail-wrap {
    display: flex;
    align-items: center;
}

/* ----- register ----- */
.register-form-wrap {
    padding: 4rem;
}
.form-group {
    margin-bottom: 3rem;
    font-size: 1.4rem;
}
.form-group input {
    display: block;
    width: 100%;
    margin-top: 0.6rem;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    line-height: 1.5;
    box-sizing: border-box;
    border: 1px solid var(--gray);
    border-radius: 8px;
}

/* ----- modal ----- */
#modal {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 60%;
    background: var(--white);
    z-index: 9999;
    transform: translate(-50%, -50%);
    border-radius: 10px; 
}
#modalHeader {
    background: var(--base-bg);
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--gray);
    color: var(--white);
}
#modalBody {
    padding: 1rem 2rem;
    border-bottom: 1px solid var(--gray);
}
#modalFooter {
    padding: 1rem;
    text-align: right;
}
#modalBackground {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.8);
    z-index: 1;
}
body.modal-open {
    position: fixed;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1024px) {
    header,
    footer {
        padding: 0.6rem 1rem;
    }
    button {
        padding: 0.5rem 0.3rem;
    }
    .component-wrap {
        width: 80%;
    }
    .dash-activity-wrap {
        margin-top: 0;
    }
}

@media screen and (max-width: 896px) {
    html {
        font-size: 15px;
    }
    .menu-wrap > .menu:not(:last-child) {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {
    html {
        font-size: 13px;
    }
    header {
        justify-content: center !important;
    }
    header .menu-wrap {
        display: none;
    }
    main {
        margin: 2rem auto;
        padding-bottom: 50px;
    }
    footer {
        position: fixed;
        width: 100%;
        bottom: 0;
        display: block !important;
        text-align: center;
        padding: 0.6rem 0;
    }
    footer .menu-wrap {
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .menu-wrap .menu {
        width: calc(100% / 6);
        padding: 0;
    }
    .menu-wrap .menu i {
        margin: 0
    }
    .menu-wrap .menu span {
        display: block;
        font-size: 0.8rem;
    }
    .menu-wrap .menu:hover {
        padding: 0;
        border: 0;
    }
    footer small,
    .admin-btn-wrap button span {
        display: none;
    }
    .dash-second-wrap {
        display: block;
        margin-bottom: 1rem;
    }
    .dash-second-left-wrap,
    .dash-second-right-wrap,
    .dash-second-left-top-wrap {
        width: 100%;
    }
    .dash-second-right-wrap {
        margin-top: 1rem;
    }
    .learning-log-wrap {
        padding: 1rem;
    }
    .learning-answers-wrap li {
        margin: 2.4rem 2rem;
    }
    .admin-btn-wrap button {
        padding: 1rem;
        border-radius: 50%;
    }
    .admin-btn-wrap button i {
        margin: 0;
    }
    .register-form-wrap {
        padding: 4rem 2rem;
    }
    .dash-activity-wrap li div:first-child,
    .activity-table-detail-wrap div:first-child {
        width: 30px;
        height: 30px;
    }
}